
<div class="header">


</div>

<div class="filters">
    <div class="filter">
        <ui5-label for="workOrderNumber" show-colon>Work Order Number</ui5-label>
        <ui5-input value="" id="workOrderNumber"></ui5-input>    
    </div>
    
    <div class="filter">
        <ui5-label for="description" show-colon>Description</ui5-label>
        <ui5-input value="" id="description"></ui5-input>    
    </div>

    <div class="filter">
        <ui5-label type="" for="userStatus" show-colon>User Status</ui5-label>
        <ui5-select value="" id="userStatus"></ui5-select>            
    </div>

    <div class="filter">
        <ui5-label type="date" for="orderDueDate" show-colon>Order Due Date</ui5-label>
        <ui5-date-picker value="" id="orderDueDate"></ui5-date-picker>            
    </div>
    
</div>


<ui5-tabcontainer class="full-width">
	<ui5-tab text="All" selected>
	</ui5-tab>
	<ui5-tab text="P3">
	</ui5-tab>
	<ui5-tab text="P2">
	</ui5-tab>
	<ui5-tab text="P1">
	</ui5-tab>
	<ui5-tab text="Errors for Review">
	</ui5-tab>
	<ui5-tab text="Errors for Review"></ui5-tab>
	<ui5-tab text="In Planning"></ui5-tab>
	<ui5-tab text="Work Order for Review"></ui5-tab>
	<ui5-tab text="Ready"></ui5-tab>
	<ui5-tab text="Complete"></ui5-tab>
	<ui5-tab text="Planned"></ui5-tab>
	<ui5-tab text="Corrective"></ui5-tab>

</ui5-tabcontainer>
<ui5-table class="demo-table" id="table">
	<!-- Columns -->
	<ui5-table-column slot="columns" style="width: 12rem">
		<span style="line-height: 1.4rem">Product</span>
	</ui5-table-column>

	<ui5-table-column slot="columns" min-width="800">
		<span style="line-height: 1.4rem">Supplier</span>
	</ui5-table-column>

	<ui5-table-column slot="columns" min-width="600" popin-text="Dimensions" demand-popin>
		<span style="line-height: 1.4rem">Dimensions</span>
	</ui5-table-column>

	<ui5-table-column slot="columns" min-width="600" popin-text="Weight" demand-popin>
		<span style="line-height: 1.4rem">Weight</span>
	</ui5-table-column>

	<ui5-table-column slot="columns">
		<span style="line-height: 1.4rem">Price</span>
	</ui5-table-column>

	<ui5-table-row [routerLink]="['/item', 1]">
		<ui5-table-cell>Notebook Basic 15HT-1000</ui5-table-cell>
		<ui5-table-cell>Very Best Screens</ui5-table-cell>
		<ui5-table-cell>30 x 18 x 3cm</ui5-table-cell>
		<ui5-table-cell>4.2KG</ui5-table-cell>
		<ui5-table-cell>956EUR</ui5-table-cell>
	</ui5-table-row>

	<ui5-table-row [routerLink]="['/item', 2]">
		<ui5-table-cell>Notebook Basic 17HT-1001</ui5-table-cell>
		<ui5-table-cell>Very Best Screens</ui5-table-cell>
		<ui5-table-cell>29 x 17 x 3.1cm</ui5-table-cell>
		<ui5-table-cell>4.5KG</ui5-table-cell>
		<ui5-table-cell>1249EUR</ui5-table-cell>
	</ui5-table-row>

	<ui5-table-row [routerLink]="['/item', 3]">
		<ui5-table-cell>Notebook Basic 18HT-1002</ui5-table-cell>
		<ui5-table-cell>Very Best Screens</ui5-table-cell>
		<ui5-table-cell>28 x 19 x 2.5cm</ui5-table-cell>
		<ui5-table-cell>4.2KG</ui5-table-cell>
		<ui5-table-cell>1570EUR</ui5-table-cell>
	</ui5-table-row>
</ui5-table>
